@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #5c3c8b;
    padding: 0.5rem 0.5rem 3rem 0.5rem;
}

.semiRoot {
    border: 1px solid #fff;
    border-radius: 0.6rem;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}